@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.logo:hover {
    border-radius: 5%;
    background-color: #f8f8f8;
    transform: scale(1.05);
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer_section a article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.photographer_section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.photographer_section a article div h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
}

.photographer_section a article div img {
    height: 200px;
    width: 200px;
}

.photographer_section a article div {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a article:hover {
    border-radius: 5%;
    background-color: #f8f8f8;
    transform: scale(1.05);
}

.portrait {
    object-fit: fill;
    object-position: center;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 3px black;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.lieu {
    color: #901C1C;
    font-size: 18px;
}

.tagline {
    font-size: 12px;
}

.prix {
    color: #525252;
    font-size: 12px;
}

.photograph-header div img {
    position: static;
    height: 200px;
    width: 200px;
}

.photograph-header div {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
    align-items: center;
}

.photograph-media section #photo img {
    height: 100%;
    width: 100%;
    border-radius: 2%;
    object-fit: fill;
    object-position: center;
}

.photograph-media section #photo video {
    height: 100%;
    width: 100%;
}

.photograph-media section #photo {
    width: 350px;
    height: 350px;
}

.photograph-media section #photo:hover {
    cursor: pointer;
}

.photograph-media section #photo {
    color: #901C1C;
    font-size: 18px;
}

.photograph-media section #photo .inputCheckLikes .likes:hover {
    color: #D3573C;
}

.photograph-media section #photo .inputCheckLikes .likes i {
    cursor: pointer;
    padding-left: 10px;
}

.photograph-media {
    margin: 0 100px;
    margin-top: 100px;
}

.photograph-media section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 180px;
    margin-top: 100px;
    justify-items: center;
}

.photograph-header div h1 {
    color: #D3573C;
    font-size: 48px;
    margin-bottom: 0;
}

.photograph-header div .lieu {
    color: #901C1C;
    font-size: 28px;
    margin-top: 20px;
}

.photograph-header div .description {
    color: #525252;
    font-size: 18px;
    margin-top: 20px;
}